* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  background: linear-gradient(to right, #ed552f 0%, #e8852e 100%);
  width: 244px;
  height: 161px;
  border-radius: 5px;
}

.login__title {
  height: 23px;
  width: 39px;
  font-size: 15px;
  color: #ff0;
}

.login__field {
  border: none;
}

.login__legend {
  clip: rect(0 0 0 0);
  border: 0;
  padding: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}
