* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular__container {
  width: 190px;
  height: 147px;
  background: linear-gradient(#ccc 0%, #eee 100%);
  border: 1px solid #a3a3a3;
  padding: 12px;
  position: relative;
}

.popular__title {
  font-size: 15px;
  margin-bottom: 10px;
}

.popular__title span:last-child {
  color: #ed552f;
}

.popular__list {
  margin-top: 20px;
}

.popular__list__item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.popular__list__item a {
  text-decoration: none;
  color: black;
  font-size: 11px;
}

.item__bg {
  background: url(./img/rank.png) no-repeat;
  width: 9px;
  height: 9.5px;
}

.papular__more {
  position: absolute;
  top: 8px;
  right: 5px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.papular__more span {
  margin-top: 4px;
  margin-left: 4px;
}

.bgMid {
  background-position: 0 -20px;
}

.bgDown {
  background-position: 0 -45px;
}
