* {
  box-sizing: border-box;
}

body {
  width: 1920px;
  height: 1601px;
  background: linear-gradient(#e0e0e0 0%, #fff 100%);
  display: flex;
  justify-content: center;
}

.header__container {
  width: 940px;
  height: 138px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 28px;
}

.header__user {
  width: 884px;
  height: 34px;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.header__user__item {
  list-style-type: none;
  margin-right: 8px;
}

.header__user__item:nth-child(-n + 4)::after {
  content: ":";
  margin-left: 8px;
}

.nav__container {
  background: linear-gradient(#edad2d 0%, #d16527, #edad2d 100%);
  display: flex;
  width: 884px;
  height: 53px;
  order: 1;
  border-top: 2px solid black;
}

.nav__imgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 53px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 681px;
}

.nav__item {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav__item a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.nav__item a:hover {
  color: yellow;
  transform: scale(1.1);
}

.nav__item:first-child span:first-child {
  color: yellow;
}

.nav__item ul {
  display: none;
}

.nav__item::before {
  content: "";
  background-color: white;
  width: 2px;
  height: 53px;
  margin-right: 22px;
  border-top: 2px solid black;
}
